<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.manhinhchinh">

    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ManHinhChinh">
        <activity android:name=".ManHinhSearch">
                <meta-data
                    android:name="android.app.searchable"
                    android:resource="@xml/searchable" />
                <intent-filter>
                    <action android:name="android.intent.action.SEARCH" />
                </intent-filter>
        </activity>
        <activity android:name=".DanhMucChiTiet" />
        <activity android:name=".ChiTietMonAn" />
        <activity android:name=".YeuThich" />
        <activity android:name=".LichSu" />
        <activity android:name=".Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TrangChu">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".ManHinhSearch" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>